div#deliveryBill{
  background: white;
  padding: 20px;
}
div#deliveryBill *{
  font-family: Arial!important;
}
div#deliveryBill h2{
  text-transform: uppercase;
  margin-bottom: 4px;
  font-size: 25px;
  font-weight: 700;
}
div#deliveryBill label{
  text-transform: uppercase;
  color: #b4b9bc;
  font-size: 14px;
  display: block;
}
div#deliveryBill #lblUsername{
  margin-bottom: 9px;
}
div#deliveryBill #logo{
  display: block;
  margin-top: -15px;
}
div#deliveryBill table{
  border: 0;
}
div#deliveryBill table th,
div#deliveryBill table td
{
  border-right: 10px solid white;
  background: none;
}
div#deliveryBill table th,
div#deliveryBill table td,
div#deliveryBill table p,
div#deliveryBill p
{
  font-size: 14px;
  padding-left: 0;
  line-height: 20px;
}
div#deliveryBill table tr{
  border-bottom: 1px solid #c8c6c5;
}
div#deliveryBill table.blank tr{
  border: 0;
}
div#deliveryBill table td{

}
div#deliveryBill table.blank td{
  padding: 0;
}
div#deliveryBill table#empfaenger{
  margin-top: 20px;
}
div#deliveryBill table#empfaenger td{
  padding-bottom: 8px;
}
div#deliveryBill table#jobnr strong{
  font-size: 15px;
  text-transform: uppercase;
}

div#deliveryBill p#zusatzinfos{
  padding-bottom: 10px;
}