@import "css3.less";
@import "variables.less";

body{
  background: white url("../images/bgnoise.gif");
  overflow-y: scroll;
  padding-top: 35px;

}
body,
p,
label,
textarea,
input
{
  font-family: Asap;
  color: @font-color;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
}

/** COMMON **/
.center{
  text-align: center;
}

h1{
  font-size: 35px;
  margin-bottom: 20px;
  padding-bottom: 8px;
  border-bottom: 1px dashed @font-color;
  text-shadow: -1px -1px 3px white;
  text-transform: uppercase;
}
h1 span{
  font-size: 20px;
  color: #717a7d;
}
h2{
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 10px;
}
h3{
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 8px;
}
h4{
  font-size: 14px;
  text-transform: uppercase;
}
h5{
  font-size: 12px;
  text-transform: uppercase;
}
.inline{
  display: inline;
}
.inline-block{
  display: inline-block;
}
p{
  margin-bottom: 20px;
}
p.subline{
  color: #bbb;
  font-size: 17px;
}
a{
  color: @magenta;
}
.divider{
  margin-top: 10px;
  border-bottom: 1px dashed @font-color;
  margin-bottom: 10px;
  clear: both;
}
.error{
  color: #cc0000;
}
.alpha{
  margin-left: 0!important;
}
.mini{
  font-size: 10px;
}
iframe{
  display: none;
}



/** TABLES **/
table{
  clear: both; 
  width: 100%;
  position: relative;    
  padding: 3px;  
  margin: 0;   
  overflow:auto; 

}
table th{
  text-align: left;
  font-size: 15px;
  text-transform: uppercase;
}
table td,
table th{
  padding: 10px;
  vertical-align: top;
}
table tr{
    margin-top: 3px;
    border-bottom: 1px dashed @font-color;
}
table tr.nodashed{
  border-bottom: 0;
}
table td{
  background: #f5f5f6;
  border-right: 4px solid #efeff0;
}
table td.last{
  border-right: 0;
}
table td,
table p{
  font-size: 12px;
}



/* BUTTONS */
.btn-norm{
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 6px 20px;
  background: -moz-linear-gradient(
    top,
    #e02664 0%,
    #bb053f);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#e02664),
    to(#bb053f));
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #af0139;
  -moz-box-shadow:
    0px 0px 0px rgba(000,000,000,0.5),
    inset 0px -3px 1px rgba(105,105,105,0.3);
  -webkit-box-shadow:
    0px 0px 0px rgba(000,000,000,0.5),
    inset 0px -3px 1px rgba(105,105,105,0.3);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.4),
    0px 1px 0px rgba(255,255,255,0.3);
}
.btn-norm:hover{
  background: -moz-linear-gradient(
    top,
    #ce235b 0%,
    #ac053c);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#ce235b),
    to(#ac053c));
  color: #ffffff;
}
.btn-grey{
  background: -moz-linear-gradient(
    top,
    #cbcece 0%,
    #aeb0b1);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#cbcece),
    to(#aeb0b1));
  letter-spacing: 0;
  border: 1px solid #a2a3a3;
}
.btn-grey:hover{
  background: -moz-linear-gradient(
    top,
    #cbcece 0%,
    #999999);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#cbcece),
    to(#999999));
}
a#neueBestellung{
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-small{
  font-size: 12px;
  padding: 6px;
  text-transform: none;
}


/* FORMS */
input:focus, textarea:focus {
  border-color: rgba(206, 35, 91, 0.8);
}
label{
  text-transform: uppercase;
  display: block;
  float: left;
  padding-right: 10px;
  width: 170px;
  line-height: 30px;
}
.form-row{
  margin-bottom: 5px;
}
input,
textarea,
select{
  -webkit-border-radius: 0;
  moz-border-radius: 0
}
.formRow{
  overflow: hidden;
  clear: both;
  margin-bottom: 5px;
}


/** CONTENT **/
#content{
  padding: 110px 18px;
}
/* Navigation */
.navbar-fixed-top,
.navbar-fixed-bottom{
  z-index: 997;
}
.navbar-inner{
  background: #453d49;
}
.navbar a,
.navbar .brand{
  text-transform: uppercase;
  font-size: 13px;
  color: #94868e;
}
.navbar .brand{
  margin-left: 7px;
  padding: 10px 10px 11px;
  line-height: 19px
}
.navbar ul.nav .logout{
  padding-right: 8px;
}

#logoContainer{
  position: fixed;
  z-index: 1;
  width: 904px;
  padding: 25px 18px;
  margin-bottom: 40px;
  background: #fffdfa url(../images/df_logo.gif) 18px 5px no-repeat;
  .boxShadow(0px 4px 10px #ccc);
}
#logoContainer a{
  float: right;
}

#content ul{
  margin-bottom: 20px;
}
#content ul li{
  margin-bottom: 5px;
}


/* HAUPTFORMULAR */
#dfpdf_form{

}
#dfpdf_form label{
  text-align: right;
}



#flashMessages{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  text-align: center;
  color: #ffffff;
  background: #de1254;
  line-height: 40px;
  font-size: 15px;
  text-transform: uppercase;
}




/* Login */
#containerLogin{
  width: 300px;
  margin: 0 auto;
  padding-top: 60px;
}
#containerLogin label{
  white-space: nowrap;
}
#containerLogin input[type=text],
#containerLogin input[type=password]
{
  font-size: 16px;
  width: 290px;
  padding: 10px 5px;
}
