/* 
    Document   : print
    Created on : 19.04.2011, 19:31:37
    Author     : geibi
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

