@media (max-width: 480px) {
  div.hero-unit h1{
    font-size: 25px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  div.hero-unit h1{
    font-size: 40px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  div.hero-unit h1{
    font-size: 50px;
  }
}