/* MEASURES AND SIZES */
/* COLORS */
body {
  background: #ffffff url("../images/bgnoise.gif");
  overflow-y: scroll;
  padding-top: 35px;
}
body,
p,
label,
textarea,
input {
  font-family: Arial;
  color: #344248;
  font-size: 12px;
  line-height: 16px;
}
/** COMMON **/
.center {
  text-align: center;
}
h1 {
  font-size: 35px;
  margin-bottom: 20px;
  padding-bottom: 8px;
  border-bottom: 1px dashed #344248;
  text-shadow: -1px -1px 3px #ffffff;
  text-transform: uppercase;
}
h1 span {
  font-size: 20px;
  color: #717a7d;
}
h2 {
  font-size: 14px;
  line-height: 14px;
  color: #218bbf;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 0;
}
h3 {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 8px;
}
h4 {
  font-size: 14px;
  text-transform: uppercase;
}
h5 {
  font-size: 12px;
  text-transform: uppercase;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
p {
  margin: 0 0 20px 0;
}
p.subline {
  color: #bbb;
  font-size: 17px;
}
a {
  color: #ce235b;
}
.divider {
  margin-top: 10px;
  border-bottom: 1px dashed #344248;
  margin-bottom: 10px;
  clear: both;
}
.error {
  color: #cc0000;
}
.alpha {
  margin-left: 0!important;
}
.mini {
  font-size: 10px;
}
.clear {
  clear: both;
}
iframe {
  display: none;
}
.lightGray {
  color: #868a93;
}
/** TABLES **/
table {
  clear: both;
  width: 100%;
  position: relative;
  padding: 3px;
  margin: 0;
  overflow: auto;
}
table th {
  text-align: left;
  font-size: 15px;
  text-transform: uppercase;
}
table td,
table th {
  padding: 10px;
  vertical-align: top;
}
table tr {
  margin-top: 3px;
  border-bottom: 1px dashed #344248;
}
table tr.nodashed {
  border-bottom: 0;
}
table td {
  background: #f5f5f6;
  border-right: 4px solid #efeff0;
}
table td.last {
  border-right: 0;
}
table td,
table p {
  font-size: 12px;
}
/* BUTTONS */
.btn-norm {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  padding: 7px 50px 7px 20px;
  cursor: pointer;
  border: 2px solid white;
  background: #008cd4;
  background: url("../images/btn-norm-back.png") right top no-repeat, -moz-linear-gradient(top, #008cd4 0%, #036cad);
  background: url("../images/btn-norm-back.png") right top no-repeat, -webkit-gradient(linear, left top, left bottom, from(#008cd4), to(#036cad));
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0px 0px 2px #aaa;
  -webkit-box-shadow: 0px 0px 2px #aaa;
}
.btn-norm:hover {
  background: url("../images/btn-norm-back.png") right top no-repeat, -moz-linear-gradient(top, #008cd4 0%, #008cd4);
  background: url("../images/btn-norm-back.png") right top no-repeat, -webkit-gradient(linear, left top, left bottom, from(#008cd4), to(#008cd4));
}
a.btn-norm {
  text-decoration: none;
}
.btn-grey {
  background: -moz-linear-gradient(top, #cbcece 0%, #aeb0b1);
  background: -webkit-gradient(linear, left top, left bottom, from(#cbcece), to(#aeb0b1));
  letter-spacing: 0;
  border: 1px solid #a2a3a3;
}
.btn-grey:hover {
  background: -moz-linear-gradient(top, #cbcece 0%, #999999);
  background: -webkit-gradient(linear, left top, left bottom, from(#cbcece), to(#999999));
}
.btn-small {
  font-size: 12px;
  padding: 6px;
  text-transform: none;
}
/* FORMS */
input:focus,
textarea:focus {
  border-color: rgba(206, 35, 91, 0.8);
}
label {
  color: #868a93;
  display: block;
}
.form-row {
  margin-bottom: 5px;
}
input,
textarea,
select {
  -webkit-border-radius: 0;
  moz-border-radius: 0;
}
.formRow {
  overflow: hidden;
  clear: both;
  margin-bottom: 5px;
}
input[type="text"] {
  width: 175px;
  padding: 4px 4px 4px 8px;
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 3px;
  moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 -3px 0px 0px #cdcdcd;
  -moz-box-shadow: 0 -3px 0px 0px #cdcdcd;
  box-shadow: 0 -1px 3px 0px #cdcdcd;
}
/** CONTENT **/
#wrapper {
  width: 1000px;
  margin: 0 auto;
  background: white;
}
#content {
  padding: 275px 0 0 45px;
  width: 410px;
}
#content ul {
  margin-bottom: 20px;
}
#content ul li {
  margin-bottom: 5px;
}
.container_50_50 {
  overflow: hidden;
}
.containerLeft {
  float: left;
  width: 190px;
  margin-right: 30px;
}
.containerRight {
  float: left;
  width: 190px;
}
/* HAUPTFORMULAR */
#dfpdf_form input#plz {
  float: left;
  width: 40px;
  margin-right: 4px;
}
#dfpdf_form input#ort {
  float: left;
  width: 118px;
}
#dfpdf_form input#verkaufspreis {
  width: 70px;
}
#flashMessages {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  text-align: center;
  color: #ffffff;
  background: #de1254;
  line-height: 40px;
  font-size: 15px;
  text-transform: uppercase;
}
/* Login */
#containerLogin input[type=text],
#containerLogin input[type=password] {
  font-weight: bold;
  padding: 6px;
  width: 240px;
  float: left;
  margin-right: 10px;
}
#containerLogin #btnLogin {
  float: left;
  margin: 0;
}
