/* MEASURES AND SIZES */
@baseFontSize: 16px;
@baseLineHeight: 22px;
@leftPaddingContent: 16px; 


/* COLORS */
@font-color: #344248;
@magenta: #CE235B;
@border-color: #cdcdcd;


/* Cart */
@font-size-cart: 11px;

