/* ANY LIST SLIDER */
/*************************************
 * generic styling for ALS elements
 ************************************/

.als-container {
  position: relative;
  width: 100%;
  margin: 0px auto;
  z-index: 0;
}

.als-viewport {
  position: relative;
  overflow: hidden;
  margin: 0px auto;
}

.als-wrapper {
  position: relative;
  list-style: none;
}

.als-item {
  position: relative;
  display: block;
  text-align: center;
  cursor: pointer;
  float: left;
}

.als-prev, .als-next {
  position: absolute;
  cursor: pointer;
  clear: both;
}



/*************************************
 * specific for vertical
 ************************************/

.randomQuestionWrapper {

  .als-viewport{

    @include single-box-shadow(rgba(0,0,0,0.2), 0, 5px, 10px, 0);

    .als-item {
      width: 100%;
      float: none;
      margin: 0;
      background: #129324;
      text-align: center;
      display: block;
      color: white;
      margin-bottom: 1px;
      
      a{
        padding: 8px 0px;
        display: block;
        color: white;
        font-weight: 700;
      }

      &.alreadyVoted{
          background: #CA3321;
          
          a{
            color: white;
          }
      }

    }

  }

  .als-prev,
  .als-next{
    position: static;
    display: block;

    img{
      display: block;
      margin: 0 auto;
    }

  }

  .als-prev {
    margin-bottom: 0.5em;
  }

  .als-next {
    margin-top: 0.5em;
  }

}